<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>01</key>
	<dict>
		<key>LevelID</key>
		<integer>1</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 1</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>1</integer>
	</dict>
	<key>02</key>
	<dict>
		<key>LevelID</key>
		<integer>2</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 2</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>1</integer>
	</dict>
	<key>03</key>
	<dict>
		<key>LevelID</key>
		<integer>3</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 3</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>1</integer>
	</dict>
	<key>04</key>
	<dict>
		<key>LevelID</key>
		<integer>4</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 4</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>1</integer>
	</dict>
	<key>05</key>
	<dict>
		<key>LevelID</key>
		<integer>5</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 5</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>1</integer>
	</dict>
	<key>06</key>
	<dict>
		<key>LevelID</key>
		<integer>6</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 6</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>1</integer>
	</dict>
	<key>07</key>
	<dict>
		<key>LevelID</key>
		<integer>7</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 7</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>1</integer>
	</dict>
	<key>08</key>
	<dict>
		<key>LevelID</key>
		<integer>8</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 8</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>1</integer>
	</dict>
	<key>09</key>
	<dict>
		<key>LevelID</key>
		<integer>9</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 9</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>1</integer>
	</dict>
	<key>10</key>
	<dict>
		<key>LevelID</key>
		<integer>10</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 10</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>1</integer>
	</dict>
	<key>11</key>
	<dict>
		<key>LevelID</key>
		<integer>11</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 11</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>1</integer>
	</dict>
	<key>12</key>
	<dict>
		<key>LevelID</key>
		<integer>12</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 12</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>1</integer>
	</dict>
	<key>13</key>
	<dict>
		<key>LevelID</key>
		<integer>13</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 13</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>2</integer>
	</dict>
	<key>14</key>
	<dict>
		<key>LevelID</key>
		<integer>14</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 14</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>2</integer>
	</dict>
	<key>15</key>
	<dict>
		<key>LevelID</key>
		<integer>15</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 15</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>2</integer>
	</dict>
	<key>16</key>
	<dict>
		<key>LevelID</key>
		<integer>16</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 16</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>2</integer>
	</dict>
	<key>17</key>
	<dict>
		<key>LevelID</key>
		<integer>17</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 17</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>2</integer>
	</dict>
	<key>18</key>
	<dict>
		<key>LevelID</key>
		<integer>18</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 18</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>2</integer>
	</dict>
	<key>19</key>
	<dict>
		<key>LevelID</key>
		<integer>19</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 19</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>2</integer>
	</dict>
	<key>20</key>
	<dict>
		<key>LevelID</key>
		<integer>20</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 20</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>2</integer>
	</dict>
	<key>21</key>
	<dict>
		<key>LevelID</key>
		<integer>21</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 21</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>2</integer>
	</dict>
	<key>22</key>
	<dict>
		<key>LevelID</key>
		<integer>22</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 22</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>2</integer>
	</dict>
	<key>23</key>
	<dict>
		<key>LevelID</key>
		<integer>23</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 23</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>2</integer>
	</dict>
	<key>24</key>
	<dict>
		<key>LevelID</key>
		<integer>24</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 24</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>2</integer>
	</dict>
	<key>25</key>
	<dict>
		<key>LevelID</key>
		<integer>25</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 25</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>3</integer>
	</dict>
	<key>26</key>
	<dict>
		<key>LevelID</key>
		<integer>26</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 26</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>3</integer>
	</dict>
	<key>27</key>
	<dict>
		<key>LevelID</key>
		<integer>27</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 27</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>3</integer>
	</dict>
	<key>28</key>
	<dict>
		<key>LevelID</key>
		<integer>28</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 28</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>3</integer>
	</dict>
	<key>29</key>
	<dict>
		<key>LevelID</key>
		<integer>29</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 29</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>3</integer>
	</dict>
	<key>30</key>
	<dict>
		<key>LevelID</key>
		<integer>30</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 30</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>3</integer>
	</dict>
	<key>31</key>
	<dict>
		<key>LevelID</key>
		<integer>31</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 31</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>3</integer>
	</dict>
	<key>32</key>
	<dict>
		<key>LevelID</key>
		<integer>32</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 32</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>3</integer>
	</dict>
	<key>33</key>
	<dict>
		<key>LevelID</key>
		<integer>33</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 33</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>3</integer>
	</dict>
	<key>34</key>
	<dict>
		<key>LevelID</key>
		<integer>34</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 34</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>3</integer>
	</dict>
	<key>35</key>
	<dict>
		<key>LevelID</key>
		<integer>35</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 35</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>3</integer>
	</dict>
	<key>36</key>
	<dict>
		<key>LevelID</key>
		<integer>36</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 36</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>3</integer>
	</dict>
	<key>37</key>
	<dict>
		<key>LevelID</key>
		<integer>37</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 37</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>4</integer>
	</dict>
	<key>38</key>
	<dict>
		<key>LevelID</key>
		<integer>38</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 38</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>4</integer>
	</dict>
	<key>39</key>
	<dict>
		<key>LevelID</key>
		<integer>39</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 39</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>4</integer>
	</dict>
	<key>40</key>
	<dict>
		<key>LevelID</key>
		<integer>40</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 40</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>4</integer>
	</dict>
	<key>41</key>
	<dict>
		<key>LevelID</key>
		<integer>41</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 41</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>4</integer>
	</dict>
	<key>42</key>
	<dict>
		<key>LevelID</key>
		<integer>42</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 42</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>4</integer>
	</dict>
	<key>43</key>
	<dict>
		<key>LevelID</key>
		<integer>43</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 43</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>4</integer>
	</dict>
	<key>44</key>
	<dict>
		<key>LevelID</key>
		<integer>44</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 44</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>4</integer>
	</dict>
	<key>45</key>
	<dict>
		<key>LevelID</key>
		<integer>45</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 45</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>4</integer>
	</dict>
	<key>46</key>
	<dict>
		<key>LevelID</key>
		<integer>46</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 46</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>4</integer>
	</dict>
	<key>47</key>
	<dict>
		<key>LevelID</key>
		<integer>47</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 47</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>4</integer>
	</dict>
	<key>48</key>
	<dict>
		<key>LevelID</key>
		<integer>48</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 48</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>4</integer>
	</dict>
	<key>49</key>
	<dict>
		<key>LevelID</key>
		<integer>49</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 49</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>5</integer>
	</dict>
	<key>50</key>
	<dict>
		<key>LevelID</key>
		<integer>50</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 50</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>5</integer>
	</dict>
	<key>51</key>
	<dict>
		<key>LevelID</key>
		<integer>51</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 51</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>5</integer>
	</dict>
	<key>52</key>
	<dict>
		<key>LevelID</key>
		<integer>52</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 52</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>5</integer>
	</dict>
	<key>53</key>
	<dict>
		<key>LevelID</key>
		<integer>53</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 53</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>5</integer>
	</dict>
	<key>54</key>
	<dict>
		<key>LevelID</key>
		<integer>54</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 54</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>5</integer>
	</dict>
	<key>55</key>
	<dict>
		<key>LevelID</key>
		<integer>55</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 55</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>5</integer>
	</dict>
	<key>56</key>
	<dict>
		<key>LevelID</key>
		<integer>56</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 56</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>5</integer>
	</dict>
	<key>57</key>
	<dict>
		<key>LevelID</key>
		<integer>57</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 57</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>5</integer>
	</dict>
	<key>58</key>
	<dict>
		<key>LevelID</key>
		<integer>58</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 58</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>5</integer>
	</dict>
	<key>59</key>
	<dict>
		<key>LevelID</key>
		<integer>59</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 59</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>5</integer>
	</dict>
	<key>60</key>
	<dict>
		<key>LevelID</key>
		<integer>60</integer>
		<key>LevelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>LevelTitle</key>
		<string>Level 60</string>
		<key>LevelType</key>
		<integer>3</integer>
		<key>WorldID</key>
		<integer>5</integer>
	</dict>
</dict>
</plist>
