<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Level 1</key>
	<dict>
		<key>levelBlanks</key>
		<array/>
		<key>levelBuildings</key>
		<array>
			<integer>9</integer>
			<integer>10</integer>
		</array>
		<key>levelCols</key>
		<integer>4</integer>
		<key>levelGroupNumber</key>
		<integer>1</integer>
		<key>levelID</key>
		<integer>1</integer>
		<key>levelMoves</key>
		<integer>5</integer>
		<key>levelNumber</key>
		<integer>1</integer>
		<key>levelRows</key>
		<integer>5</integer>
		<key>levelTargetScore</key>
		<array>
			<integer>1000</integer>
			<integer>2000</integer>
			<integer>3000</integer>
		</array>
		<key>levelTime</key>
		<integer>0</integer>
		<key>levelTitle</key>
		<string>Level 1</string>
		<key>levelType</key>
		<integer>3</integer>
		<key>levelTypeVariable</key>
		<integer>2</integer>
		<key>levelUniqueTiles</key>
		<integer>3</integer>
	</dict>
	<key>Level 10</key>
	<dict>
		<key>levelBlanks</key>
		<array/>
		<key>levelBuildings</key>
		<array>
			<integer>0</integer>
		</array>
		<key>levelCols</key>
		<integer>4</integer>
		<key>levelGroupNumber</key>
		<integer>1</integer>
		<key>levelID</key>
		<integer>10</integer>
		<key>levelMoves</key>
		<integer>20</integer>
		<key>levelNumber</key>
		<integer>10</integer>
		<key>levelRows</key>
		<integer>7</integer>
		<key>levelTargetScore</key>
		<array>
			<integer>15000</integer>
			<integer>25000</integer>
			<integer>35000</integer>
		</array>
		<key>levelTime</key>
		<integer>0</integer>
		<key>levelTitle</key>
		<string>Level 10</string>
		<key>levelType</key>
		<integer>1</integer>
		<key>levelTypeVariable</key>
		<integer>0</integer>
		<key>levelUniqueTiles</key>
		<integer>4</integer>
	</dict>
	<key>Level 11</key>
	<dict>
		<key>levelBlanks</key>
		<array/>
		<key>levelBuildings</key>
		<array>
			<integer>0</integer>
		</array>
		<key>levelCols</key>
		<integer>4</integer>
		<key>levelGroupNumber</key>
		<integer>1</integer>
		<key>levelID</key>
		<integer>11</integer>
		<key>levelMoves</key>
		<integer>20</integer>
		<key>levelNumber</key>
		<integer>11</integer>
		<key>levelRows</key>
		<integer>8</integer>
		<key>levelTargetScore</key>
		<array>
			<integer>15000</integer>
			<integer>25000</integer>
			<integer>35000</integer>
		</array>
		<key>levelTime</key>
		<integer>0</integer>
		<key>levelTitle</key>
		<string>Level 11</string>
		<key>levelType</key>
		<integer>1</integer>
		<key>levelTypeVariable</key>
		<integer>0</integer>
		<key>levelUniqueTiles</key>
		<integer>4</integer>
	</dict>
	<key>Level 12</key>
	<dict>
		<key>levelBlanks</key>
		<array/>
		<key>levelBuildings</key>
		<array>
			<integer>0</integer>
		</array>
		<key>levelCols</key>
		<integer>5</integer>
		<key>levelGroupNumber</key>
		<integer>1</integer>
		<key>levelID</key>
		<integer>12</integer>
		<key>levelMoves</key>
		<integer>20</integer>
		<key>levelNumber</key>
		<integer>12</integer>
		<key>levelRows</key>
		<integer>5</integer>
		<key>levelTargetScore</key>
		<array>
			<integer>15000</integer>
			<integer>25000</integer>
			<integer>35000</integer>
		</array>
		<key>levelTime</key>
		<integer>0</integer>
		<key>levelTitle</key>
		<string>Level 12</string>
		<key>levelType</key>
		<integer>1</integer>
		<key>levelTypeVariable</key>
		<integer>0</integer>
		<key>levelUniqueTiles</key>
		<integer>4</integer>
	</dict>
	<key>Level 13</key>
	<dict>
		<key>levelBlanks</key>
		<array/>
		<key>levelBuildings</key>
		<array>
			<integer>0</integer>
		</array>
		<key>levelCols</key>
		<integer>5</integer>
		<key>levelGroupNumber</key>
		<integer>1</integer>
		<key>levelID</key>
		<integer>13</integer>
		<key>levelMoves</key>
		<integer>25</integer>
		<key>levelNumber</key>
		<integer>13</integer>
		<key>levelRows</key>
		<integer>7</integer>
		<key>levelTargetScore</key>
		<array>
			<integer>15000</integer>
			<integer>25000</integer>
			<integer>35000</integer>
		</array>
		<key>levelTime</key>
		<integer>0</integer>
		<key>levelTitle</key>
		<string>Level 13</string>
		<key>levelType</key>
		<integer>1</integer>
		<key>levelTypeVariable</key>
		<integer>0</integer>
		<key>levelUniqueTiles</key>
		<integer>4</integer>
	</dict>
	<key>Level 14</key>
	<dict>
		<key>levelBlanks</key>
		<array/>
		<key>levelBuildings</key>
		<array>
			<integer>0</integer>
		</array>
		<key>levelCols</key>
		<integer>5</integer>
		<key>levelGroupNumber</key>
		<integer>1</integer>
		<key>levelID</key>
		<integer>14</integer>
		<key>levelMoves</key>
		<integer>25</integer>
		<key>levelNumber</key>
		<integer>14</integer>
		<key>levelRows</key>
		<integer>8</integer>
		<key>levelTargetScore</key>
		<array>
			<integer>15000</integer>
			<integer>25000</integer>
			<integer>35000</integer>
		</array>
		<key>levelTime</key>
		<integer>0</integer>
		<key>levelTitle</key>
		<string>Level 14</string>
		<key>levelType</key>
		<integer>1</integer>
		<key>levelTypeVariable</key>
		<integer>0</integer>
		<key>levelUniqueTiles</key>
		<integer>5</integer>
	</dict>
	<key>Level 15</key>
	<dict>
		<key>levelBlanks</key>
		<array>
			<string></string>
			<integer>0</integer>
			<integer>5</integer>
			<integer>14</integer>
			<integer>15</integer>
			<integer>30</integer>
			<integer>35</integer>
		</array>
		<key>levelBuildings</key>
		<array>
			<integer>0</integer>
		</array>
		<key>levelCols</key>
		<integer>6</integer>
		<key>levelGroupNumber</key>
		<integer>1</integer>
		<key>levelID</key>
		<integer>15</integer>
		<key>levelMoves</key>
		<integer>25</integer>
		<key>levelNumber</key>
		<integer>15</integer>
		<key>levelRows</key>
		<integer>6</integer>
		<key>levelTargetScore</key>
		<array>
			<integer>15000</integer>
			<integer>25000</integer>
			<integer>35000</integer>
		</array>
		<key>levelTime</key>
		<integer>0</integer>
		<key>levelTitle</key>
		<string>Level 15</string>
		<key>levelType</key>
		<integer>1</integer>
		<key>levelTypeVariable</key>
		<integer>0</integer>
		<key>levelUniqueTiles</key>
		<integer>5</integer>
	</dict>
	<key>Level 16</key>
	<dict>
		<key>levelBlanks</key>
		<array/>
		<key>levelBuildings</key>
		<array>
			<integer>0</integer>
		</array>
		<key>levelCols</key>
		<integer>6</integer>
		<key>levelGroupNumber</key>
		<integer>1</integer>
		<key>levelID</key>
		<integer>16</integer>
		<key>levelMoves</key>
		<integer>30</integer>
		<key>levelNumber</key>
		<integer>16</integer>
		<key>levelRows</key>
		<integer>7</integer>
		<key>levelTargetScore</key>
		<array>
			<integer>15000</integer>
			<integer>25000</integer>
			<integer>35000</integer>
		</array>
		<key>levelTime</key>
		<integer>0</integer>
		<key>levelTitle</key>
		<string>Level 16</string>
		<key>levelType</key>
		<integer>1</integer>
		<key>levelTypeVariable</key>
		<integer>0</integer>
		<key>levelUniqueTiles</key>
		<integer>5</integer>
	</dict>
	<key>Level 17</key>
	<dict>
		<key>levelBlanks</key>
		<array/>
		<key>levelBuildings</key>
		<array>
			<integer>0</integer>
		</array>
		<key>levelCols</key>
		<integer>6</integer>
		<key>levelGroupNumber</key>
		<integer>1</integer>
		<key>levelID</key>
		<integer>17</integer>
		<key>levelMoves</key>
		<integer>30</integer>
		<key>levelNumber</key>
		<integer>17</integer>
		<key>levelRows</key>
		<integer>8</integer>
		<key>levelTargetScore</key>
		<array>
			<integer>15000</integer>
			<integer>25000</integer>
			<integer>35000</integer>
		</array>
		<key>levelTime</key>
		<integer>0</integer>
		<key>levelTitle</key>
		<string>Level 17</string>
		<key>levelType</key>
		<integer>1</integer>
		<key>levelTypeVariable</key>
		<integer>0</integer>
		<key>levelUniqueTiles</key>
		<integer>5</integer>
	</dict>
	<key>Level 18</key>
	<dict>
		<key>levelBlanks</key>
		<array/>
		<key>levelBuildings</key>
		<array>
			<integer>0</integer>
		</array>
		<key>levelCols</key>
		<integer>6</integer>
		<key>levelGroupNumber</key>
		<integer>1</integer>
		<key>levelID</key>
		<integer>18</integer>
		<key>levelMoves</key>
		<integer>30</integer>
		<key>levelNumber</key>
		<integer>18</integer>
		<key>levelRows</key>
		<integer>8</integer>
		<key>levelTargetScore</key>
		<array>
			<integer>15000</integer>
			<integer>25000</integer>
			<integer>35000</integer>
		</array>
		<key>levelTime</key>
		<integer>0</integer>
		<key>levelTitle</key>
		<string>Level 18</string>
		<key>levelType</key>
		<integer>1</integer>
		<key>levelTypeVariable</key>
		<integer>0</integer>
		<key>levelUniqueTiles</key>
		<integer>5</integer>
	</dict>
	<key>Level 19</key>
	<dict>
		<key>levelBlanks</key>
		<array/>
		<key>levelBuildings</key>
		<array>
			<integer>0</integer>
		</array>
		<key>levelCols</key>
		<integer>6</integer>
		<key>levelGroupNumber</key>
		<integer>1</integer>
		<key>levelID</key>
		<integer>19</integer>
		<key>levelMoves</key>
		<integer>30</integer>
		<key>levelNumber</key>
		<integer>19</integer>
		<key>levelRows</key>
		<integer>8</integer>
		<key>levelTargetScore</key>
		<array>
			<integer>15000</integer>
			<integer>25000</integer>
			<integer>35000</integer>
		</array>
		<key>levelTime</key>
		<integer>0</integer>
		<key>levelTitle</key>
		<string>Level 19</string>
		<key>levelType</key>
		<integer>1</integer>
		<key>levelTypeVariable</key>
		<integer>0</integer>
		<key>levelUniqueTiles</key>
		<integer>5</integer>
	</dict>
	<key>Level 2</key>
	<dict>
		<key>levelBlanks</key>
		<array/>
		<key>levelBuildings</key>
		<array>
			<integer>0</integer>
		</array>
		<key>levelCols</key>
		<integer>3</integer>
		<key>levelGroupNumber</key>
		<integer>1</integer>
		<key>levelID</key>
		<integer>2</integer>
		<key>levelMoves</key>
		<integer>10</integer>
		<key>levelNumber</key>
		<integer>2</integer>
		<key>levelRows</key>
		<integer>4</integer>
		<key>levelTargetScore</key>
		<array>
			<integer>2000</integer>
			<integer>4000</integer>
			<integer>6000</integer>
		</array>
		<key>levelTime</key>
		<integer>0</integer>
		<key>levelTitle</key>
		<string>Level 2</string>
		<key>levelType</key>
		<integer>1</integer>
		<key>levelTypeVariable</key>
		<integer>0</integer>
		<key>levelUniqueTiles</key>
		<integer>3</integer>
	</dict>
	<key>Level 20</key>
	<dict>
		<key>levelBlanks</key>
		<array>
			<integer>0</integer>
			<integer>5</integer>
			<integer>41</integer>
			<integer>47</integer>
		</array>
		<key>levelBuildings</key>
		<array>
			<integer>0</integer>
		</array>
		<key>levelCols</key>
		<integer>6</integer>
		<key>levelGroupNumber</key>
		<integer>1</integer>
		<key>levelID</key>
		<integer>20</integer>
		<key>levelMoves</key>
		<integer>30</integer>
		<key>levelNumber</key>
		<integer>20</integer>
		<key>levelRows</key>
		<integer>8</integer>
		<key>levelTargetScore</key>
		<array>
			<integer>15000</integer>
			<integer>25000</integer>
			<integer>35000</integer>
		</array>
		<key>levelTime</key>
		<integer>0</integer>
		<key>levelTitle</key>
		<string>Level 20</string>
		<key>levelType</key>
		<integer>1</integer>
		<key>levelTypeVariable</key>
		<integer>0</integer>
		<key>levelUniqueTiles</key>
		<integer>5</integer>
	</dict>
	<key>Level 3</key>
	<dict>
		<key>levelBlanks</key>
		<array/>
		<key>levelBuildings</key>
		<array>
			<integer>0</integer>
		</array>
		<key>levelCols</key>
		<integer>3</integer>
		<key>levelGroupNumber</key>
		<integer>1</integer>
		<key>levelID</key>
		<integer>3</integer>
		<key>levelMoves</key>
		<integer>5</integer>
		<key>levelNumber</key>
		<integer>3</integer>
		<key>levelRows</key>
		<integer>5</integer>
		<key>levelTargetScore</key>
		<array>
			<integer>9000</integer>
			<integer>12000</integer>
			<integer>15000</integer>
		</array>
		<key>levelTime</key>
		<integer>0</integer>
		<key>levelTitle</key>
		<string>Level 3</string>
		<key>levelType</key>
		<integer>1</integer>
		<key>levelTypeVariable</key>
		<integer>0</integer>
		<key>levelUniqueTiles</key>
		<integer>3</integer>
	</dict>
	<key>Level 4</key>
	<dict>
		<key>levelBlanks</key>
		<array>
			<integer>7</integer>
			<integer>10</integer>
		</array>
		<key>levelBuildings</key>
		<array>
			<integer>0</integer>
		</array>
		<key>levelCols</key>
		<integer>3</integer>
		<key>levelGroupNumber</key>
		<integer>1</integer>
		<key>levelID</key>
		<integer>4</integer>
		<key>levelMoves</key>
		<integer>5</integer>
		<key>levelNumber</key>
		<integer>4</integer>
		<key>levelRows</key>
		<integer>6</integer>
		<key>levelTargetScore</key>
		<array>
			<integer>3000</integer>
			<integer>5000</integer>
			<integer>7000</integer>
		</array>
		<key>levelTime</key>
		<integer>0</integer>
		<key>levelTitle</key>
		<string>Level 4</string>
		<key>levelType</key>
		<integer>1</integer>
		<key>levelTypeVariable</key>
		<integer>0</integer>
		<key>levelUniqueTiles</key>
		<integer>3</integer>
	</dict>
	<key>Level 5</key>
	<dict>
		<key>levelBlanks</key>
		<array/>
		<key>levelBuildings</key>
		<array>
			<integer>0</integer>
		</array>
		<key>levelCols</key>
		<integer>3</integer>
		<key>levelGroupNumber</key>
		<integer>1</integer>
		<key>levelID</key>
		<integer>5</integer>
		<key>levelMoves</key>
		<integer>15</integer>
		<key>levelNumber</key>
		<integer>5</integer>
		<key>levelRows</key>
		<integer>7</integer>
		<key>levelTargetScore</key>
		<array>
			<integer>15000</integer>
			<integer>25000</integer>
			<integer>35000</integer>
		</array>
		<key>levelTime</key>
		<integer>0</integer>
		<key>levelTitle</key>
		<string>Level 5</string>
		<key>levelType</key>
		<integer>1</integer>
		<key>levelTypeVariable</key>
		<integer>0</integer>
		<key>levelUniqueTiles</key>
		<integer>3</integer>
	</dict>
	<key>Level 6</key>
	<dict>
		<key>levelBlanks</key>
		<array/>
		<key>levelBuildings</key>
		<array>
			<integer>0</integer>
		</array>
		<key>levelCols</key>
		<integer>3</integer>
		<key>levelGroupNumber</key>
		<integer>1</integer>
		<key>levelID</key>
		<integer>6</integer>
		<key>levelMoves</key>
		<integer>15</integer>
		<key>levelNumber</key>
		<integer>6</integer>
		<key>levelRows</key>
		<integer>8</integer>
		<key>levelTargetScore</key>
		<array>
			<integer>15000</integer>
			<integer>25000</integer>
			<integer>35000</integer>
		</array>
		<key>levelTime</key>
		<integer>0</integer>
		<key>levelTitle</key>
		<string>Level 6</string>
		<key>levelType</key>
		<integer>1</integer>
		<key>levelTypeVariable</key>
		<integer>0</integer>
		<key>levelUniqueTiles</key>
		<integer>3</integer>
	</dict>
	<key>Level 7</key>
	<dict>
		<key>levelBlanks</key>
		<array/>
		<key>levelBuildings</key>
		<array>
			<integer>0</integer>
		</array>
		<key>levelCols</key>
		<integer>4</integer>
		<key>levelGroupNumber</key>
		<integer>1</integer>
		<key>levelID</key>
		<integer>7</integer>
		<key>levelMoves</key>
		<integer>15</integer>
		<key>levelNumber</key>
		<integer>7</integer>
		<key>levelRows</key>
		<integer>4</integer>
		<key>levelTargetScore</key>
		<array>
			<integer>15000</integer>
			<integer>25000</integer>
			<integer>35000</integer>
		</array>
		<key>levelTime</key>
		<integer>0</integer>
		<key>levelTitle</key>
		<string>Level 7</string>
		<key>levelType</key>
		<integer>1</integer>
		<key>levelTypeVariable</key>
		<integer>0</integer>
		<key>levelUniqueTiles</key>
		<integer>3</integer>
	</dict>
	<key>Level 8</key>
	<dict>
		<key>levelBlanks</key>
		<array/>
		<key>levelBuildings</key>
		<array>
			<integer>0</integer>
		</array>
		<key>levelCols</key>
		<integer>4</integer>
		<key>levelGroupNumber</key>
		<integer>1</integer>
		<key>levelID</key>
		<integer>8</integer>
		<key>levelMoves</key>
		<integer>20</integer>
		<key>levelNumber</key>
		<integer>8</integer>
		<key>levelRows</key>
		<integer>5</integer>
		<key>levelTargetScore</key>
		<array>
			<integer>15000</integer>
			<integer>25000</integer>
			<integer>35000</integer>
		</array>
		<key>levelTime</key>
		<integer>0</integer>
		<key>levelTitle</key>
		<string>Level 8</string>
		<key>levelType</key>
		<integer>1</integer>
		<key>levelTypeVariable</key>
		<integer>0</integer>
		<key>levelUniqueTiles</key>
		<integer>3</integer>
	</dict>
	<key>Level 9</key>
	<dict>
		<key>levelBlanks</key>
		<array/>
		<key>levelBuildings</key>
		<array>
			<integer>0</integer>
		</array>
		<key>levelCols</key>
		<integer>5</integer>
		<key>levelGroupNumber</key>
		<integer>1</integer>
		<key>levelID</key>
		<integer>9</integer>
		<key>levelMoves</key>
		<integer>20</integer>
		<key>levelNumber</key>
		<integer>9</integer>
		<key>levelRows</key>
		<integer>6</integer>
		<key>levelTargetScore</key>
		<array>
			<integer>15000</integer>
			<integer>25000</integer>
			<integer>35000</integer>
		</array>
		<key>levelTime</key>
		<integer>0</integer>
		<key>levelTitle</key>
		<string>Level 9</string>
		<key>levelType</key>
		<integer>1</integer>
		<key>levelTypeVariable</key>
		<integer>0</integer>
		<key>levelUniqueTiles</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
